name: build docker image on PR to dev

on:
  pull_request:
    branches:
      - dev

jobs:
  build_image:
    name: Build docker image
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
